<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean标签,用于创建对象-->
    <!--
    id: 唯一标识
    class: 类路径
    -->
    <bean id="myClass" class="com.qf.pojo.MyClass"/>


    <!--引用另外的bean-->
    <!--
    IOC依赖注入:
        1. ref 引用 id
        2. 以此可以直接创建bean对象
    -->
    <bean id="userService" class="com.qf.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userDao" class="com.qf.dao.impl.UserDaoImpl"/>


    <!--依赖注入-->
    <bean id="dIClass" class="com.qf.pojo.DIClass">
        <property name="id" value="1"/>
        <property name="name" value="小心超人"/>
        <property name="birthday" value="2000/10/23"/>
        <property name="arr">
            <array>
                <value>1</value>
                <value>2</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>小心分身</value>
            </list>
        </property>
        <property name="hashMap">
            <map>
                <entry key="1" value="开心"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>哈哈哈</value>
            </set>
        </property>
        <property name="myClass" ref="myClass"/>
    </bean>


    <!--自动注入-->
    <bean id="myClassDao" class="com.qf.dao.impl.MyClassDaoImpl" autowire="byName"/>
    <bean id="userDao2" class="com.qf.dao.impl.UserDaoImpl"/>
</beans>